form {
    background-color: aquamarine;
    color: blue;
    width : 200px;
    height : 320px;
    border : 20px solid black;
    border-radius : 20px;
    padding : 30px;
    margin : 10px 90px;
    display : flex;
    flex-direction: column;
    justify-content:center;

}   

body{
    display : flex;
    flex-direction: column;
    gap : 20px;
}